# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.project
*.iml
.idea/
.idea/*.*
.idea/*
.idea/workspace.xml
/build/
gradle-app.setting
.gradletasknamecache
.gradle
.settings/
.classpath
dependency-reduced-pom.xml
~*
*~
.tern-project
/classes/
.svn/
*/build/
out